@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
  list-style: none;
  /* overflow-x: hidden; */
}
:root{
    --headers: #2d3958;
    --description: #7b88a8;
}
body {
  width: 100%;
  height: 100%;

}
section {
  margin: 150px auto 0;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

/* Hack to go around Section's CSS for above */
section.consultation-call {
  margin-left: 0;
  margin-right: 0;
  width: 100%!important;
}

 section aside{
    width: 30%;
}
section aside img{
    width: 100%;
}
section article {
  width: 45%;
  line-height: 2;
  margin: auto;
}
section article h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--headers);
}
section article p{
    color: var(--description);
    font-size: 1.125rem;
}

article a {
  font-size: 1.5rem;
  position: relative;
}
article a:after {
  content: "\00bb";
  position: absolute;
  top: -15px;
  opacity: 0;
  right: -25px;
  transition: all 0.6s;
  font-size: 2rem;
}
/* article a:hover {
  padding-right: 25px;
} */
article a:hover:after {
  right: -20px;
  opacity: 1;
}
section aside {
  width: 45%;
  display: grid;
  place-items: center;
}
.goals {
  margin: 100px auto;
  width: 81%;
}
.goals h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: var(--headers);
}
.goal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-block: 150px;
  padding-right: 10px;
}
.body {
  width: 50%;
}
.body h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--headers);
  line-height: 2;
}
.body p{
    font-size: 1.125rem;
    color: var(--description);
}
.goal aside {
  background-color: #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #f14a59;
  box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(175, 174, 174, 0.3);
}
.goal2 {
  flex-direction: row-reverse;
}
.goal2 aside {
  color: #6a35ff;
}
.goal3 aside {
  color: #4ddffd;
}
.team-section h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--headers);
  line-height: 1.5;
  text-align: center;
}
.team-section > p {
  text-align: center;
  color: var(--description);
  font-weight: bold;
  font-size: 1.125rem;
}
.founders {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  row-gap: 50px;
}
.founders div img {
  width: 80%;
  border-radius: 50%;
  height: 200px;
}
.founders .founder-name {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--headers);
  line-height: 2;
}
.founders p {
  color: var(--description);
  font-size: 1.25rem;
}
.last-section {
  width: 80%;
  height: 200px;
  margin: 40px auto 100px;
  border-radius: 16px;
  background: #f3efff;
  box-shadow: 31px 31px 62px #a29aa6, -31px -31px 62px #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.last-section p{
    font-size: 2rem;
    font-weight: 700;
    color: #4317C0;
    width: 50%
}
.last-section p span{
color: #9672ff;
}
.last-section a{
    width: 15%;
    height: 40px;
    display: grid;
    place-items: center;
   font-size: 1rem;
    background-color: #6a35ff;
    color: #fff;
}
@media(max-width: 1007px){
       section article{
        width: 50%;
    }
    section aside{
        width: 40%;
    }
    .goals{
        width: 90%;
    }
    .body{
        width: 60%;
        }
        .last-section a{
            width: 30%;
        }
}

@media(max-width: 768px){
section{
    flex-direction: column;
    width: 100%; 
}
section article{
    width: 90%;
}
section aside{
    width: 70%;
}
.founders{
    grid-template-columns: 1fr 1fr;
}
.last-section{
    width: 90%;
    flex-direction: column;
}
.last-section p{
    width: 100%;
    text-align: center;
}
}

@media(max-width: 576px){
    .founders{
        grid-template-columns: 1fr;
    }
    .goals{
        width: 90%;
        /* background: blue; */
        text-align: center;
    }
    .body{
        width: 80%;
        }
        .goal{
            flex-direction: column-reverse;
        }
        .goal aside,
        .goal h1{
            margin-block: 50px;
        }
        .last-section a{
            width: 45%;
        }
}