#company-pricing {
    padding: 5%;
}

#hero-section {
    background-color: rgb(192, 196, 196);
    height: 100vh;
}

#company-pricing #pricing-table {
    background-color: white;
    border-radius: 50px;
    width: 100%;
    margin-top: -210px;
    padding: 0 30px;
}

.pricing-top {
    padding: 48px 14px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.special-pricing {
    color: white;
}

@media (min-width:990px){
    .special-pricing {
        background-color: rgb(67, 67, 177);
        border-radius: 16px;
        margin-top: -30px;
    }    
}

.pricing-top #email-field {
    background-color: rgb(185, 185, 194);
    padding: 6px 6px 6px 68px;
    border-radius: 50px;
    border-style: none;
    height: 60px;
}

.pricing-top .pricing-timeframe {
    margin-bottom: 30px;
    font-size: 22px;
}

.pricing-top .pricing-price {
    margin-bottom: 10px;
    font-size: 64px;
}

.pricing-top .get-started-btn {
    font-size: 16px;
    margin: 48px 0 0;
    padding: 14px 33px;
    border: 1px solid rgb(152, 152, 152);
    border-radius: 0;
} 

#company-pricing #pricing-spec {
    width: 100%;
    font-size: 15px;
    color: black;
    font-weight: 700;
} 

#company-pricing #pricing-spec tr {
    border-bottom: 1px solid rgb(206, 202, 202);
}

#company-pricing #pricing-spec .pricing-cell-lead {
    padding: 0 0 0 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#company-pricing #pricing-spec .pricing-cell-tick {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}