* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

footer {
  background-color: #1d2438;
  height: 100vh;
  width: 100vw;
  display: flex;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
}
.footer-div1 {
    height: 550px;

}
.footer-logo {
  width: 200px;
  margin-block: 20px;
}
.footer-logo img {
  width: 100%;
}
.footer-div1 form {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.footer-div1 form label {
    color: #ccbff1;
  text-transform: uppercase;
  font-weight: 500;
}
form p{
    margin-block: 20px;
    color: #fff;
}
form input{
    width: 65%;
    height: 50px;
    text-indent: 10px;
    border: none;
    outline: none;
    font-size: 0.95rem;
    color: #636469;
}
form button{
    width: 32%;
    height: 50px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background: #6c35fe;
    border: none;
    outline: none;
}
.footer-div2,
.footer-div3{
    /* background-color: red; */
    height: 350px;
   }
  .footer-div2 ul,
  .footer-div3 ul{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
   }
  .footer-div2 ul h4,
  .footer-div3 ul h4{
    color: #ccbff1;
    text-transform: uppercase
   }
  .footer-div2 ul li,
  .footer-div3 ul li{
    list-style-type: none;
   }
  .footer-div2 ul li a,
  .footer-div3 ul li a{
    text-decoration: none;
    color: #fff;
   }
  .footer-div2 ul li a:hover,
  .footer-div3 ul li a:hover{
    color: #ccbff1;
   }
   @media(max-width: 922px){
    footer{
        flex-direction:column;
        height: 100%;
    }
    .footer-div1 form {
        align-items: center;
        height: 50%;
        }
        .footer-div1 form label{
            text-align: center;
        }
    .footer-logo{
        margin: auto;
        width: 300px;
    }
    .footer-div2{
        height: 700px;
        margin-bottom: 70px;
    }
    .footer-div3{
        height: 250px;
        justify-content: space-around;
    }
}