@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}

img, svg, video {
    display: block;
}

:root {
    --textClamp: 15px;
    --grey: rgb(82, 82, 82);
    --purple: rgb(106,53,255);
}

header {
    background-color: white;
    padding: 25px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.right-nav,
.left-nav {
    display: flex;
    align-items: center;
    gap: 90px;
}

.logo a img {
    width: 40px;
}

nav p,
nav a {
    font-size: var(--textClamp);
    color: var(--grey);
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 0;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li a:hover,
.drop-down p:hover {
    color: var(--purple);
}

nav ul li {
    cursor: pointer;
}

.drop-down {
    display: flex;
    align-items: center;
    gap: 7px;
}

.clickable {
    position: relative;
}

.drop {
    position: absolute;
    display: block;
    padding: 15px 10px 3px;
    transform: scale(1,0);
    transform-origin: top;
    transition: .3s;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.drop li {
    opacity: 0;
}
.drop li a {
    font-weight: 400;
}

.donate {
    background-color: rgb(222,82,238);
    padding: 15px 30px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: .2s ease;
}
.donate:hover {
    background-color: var(--purple);
}

/* ! HEADER FUNCTIONALITY: */
.drop.display-drop-down {
    transform: scale(1,1);
}
@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.drop-links-animation {
    animation: show .3s ease forwards .2s;
}

.hamburger {
    background-color: yellow;
    position: relative;
    width: 35px;
    display: none;
}

.hamburger div {
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: black;
    border-radius: 30px;
    transition: .3s ease;
}
.hamburger div:nth-child(1) {
    transform: translateY(8px);
}
.hamburger div:nth-child(3) {
    transform: translateY(-8px);
}

.switch div:nth-child(1),
.switch div:nth-child(3) {
    transform: translateY(0);        
}
.switch div:nth-child(1) {
    rotate: 45deg;
}
.switch div:nth-child(3) {
    rotate: -45deg;
}
.switch div:nth-child(2) {
    opacity: 0;
}

/* * MEDIA QUERIES */
@media (max-width: 1271px) {
    header {
        padding: 25px 60px;
        gap: 20px;
    }
    .right-nav,
    .left-nav {
        gap: 40px;
    }
}

@media (max-width: 1075px) {
    .hamburger {
        display: block;
    }
    main {
        position: relative;
    }
    nav {
        position: absolute;
        right: 0;
        left: 0;
        transform: scale(1,0);
        transition: .3s ease;
        transform-origin: top;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 30px;
        background: #eee;
    }
    nav ul li a:hover,
    .drop-down p:hover {
        color: var(--purple);
    }
    nav ul li {
        cursor: pointer;
    }
    .drop-down {
        display: flex;
        align-items: center;
        gap: 7px;
    }
    .clickable {
        position: relative;
    }
    .drop {
        position: static;
        padding: 15px 0px 3px;
        flex-direction: column;
        display: none;
    }
    .drop li:not(:last-child) {
        margin-bottom: 15px;
    }
    .drop.display-drop-down {
        display: block;
    }
    .display-nav {
        transform: scale(1,1);
    }
    .lists {
        opacity: 0;
    }
}

@media (max-width: 750px) {
    header {
        padding: 25px;
        gap: 20px;
    }
    .logo a img {
        width: 55px;
    }
    .right-nav {
        display: flex;
        gap: 20px;
    }
}
