.section-light {
    background-color: #f8faff;
}

.section-white {
    background-color: white;
}

.w-layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.feature-grid {
    width: 100%;
    grid-column-gap: 30px;
    grid-row-gap: 23px;
}

@media (max-width:479px){
    .w-layout-grid {
        justify-items: center;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
    }
}


.feature-block {
    display: flex;
    height: 100%;
    max-height: 280px;
    min-width: 180px;
    padding: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    background-color: #fff;
    box-shadow: 1px 1px 57px 0 rgb(123 136 168 / 8%);
    text-align: center;
}

.feature-block.feature-02 {
    margin-top: 50px;
    box-shadow: 39px 39px 78px 0 rgb(203 184 255 / 11%);
}

@media (max-width: 991px){
    .feature-block {
        max-height: 260px;
    }
}

@media (max-width: 767px){
    .feature-block {
        width: 100%;
        max-width: 430px;
    }
}

@media (max-width: 479px){
    .feature-block {
        width: auto;
        max-width: 230px;
        min-width: 210px;
    }
}

@media (max-width: 479px){
    .feature-block.feature-02 {
        margin-top: 0px;
    }
}


.content-h1 {
    margin-top: 67px;
    padding-top: 30px;
    color: #2d3958;
    font-weight: 700;
}

section h1 {
    margin: 20px 0;
    color: #2d3958;
    font-weight: 700;
}

section .container {
    margin-bottom: 20px;
}

@media (max-width:400px){
    section h1 {
        font-size: 42px;
        font-weight: 500;
    }
}

section {
    padding: 80px 30px;
}

p {
    color: #7b88a8;
    font-size: 18px;
}

.link-arrow {
    display: flex;
    margin-top: -23px;
    padding: 18px 0;
    align-items: center;
    color: #6a35ff;
    text-align: left;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
}

.arrow-text {
    font-size: 25px;
    margin: 0 14px 0 0;
}

#cisco-academy .img img,
#bgit-fest .img img {
    width: 100%;
    object-fit: contain;
}

.content-image-wrapper img {
    width: 100%;
    object-fit: contain;
}

section .row {
    margin-top: 76px;
}

.logo {
    background-color: black;
    border: 2px solid black;
}