@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
:root{
    --header1: #6a35ff;
    --header2: #2d3958;
    --paragraph: #7b88a8;
    --paragraph-size: 1.125rem;
    --headerSize: 3rem;
    --anchorLink: 1.6rem;
}
h1,h2,h3,h4{
    font-size: var(--headerSize);
    text-align: center;
    }
    h1,h2{
        color: var(--header2);
    }
h3,h4{
    color: var(--header1);
}
p{
    color: var(--paragraph);
    font-size: var(--paragraph-size);
}
body{
    background-color: #f8f7fd;
    height: 100%;
    position: relative;
}
.wrapper{
    width: 80%;
    margin: auto;
}
.section1, .section3{
    margin-block: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section1 .left-side,
.section3 .left-side{
       width: 50%;
}
.section1 .left-side strong{
    color: var(--header1);
    line-height: 2;
}
.section1 .right-side,
.section3 .right-side{
    width: 40%;
}
.section1 .right-side img,
.section3 .right-side img{
    width: 100%;
}
.section2{
text-align: center;
margin-block: 100px;
}
.section3{
    margin-block: 60px;
    position: relative;
}
.section3 .left-side .apply {
    font-size: 1.5rem;
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
.section3 .left-side .apply:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    right: -25px;
    transition: all 0.6s;
    font-size: 2rem;
  }
  .section3 .left-side .apply:hover:after {
    right: -20px;
    opacity: 1;
  }
.wrapper>h1{
    text-align: center;
}

.mentorship-form {
    inset: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.822);
    z-index: 5900;
    display: grid;
    place-items: center;
    transform: scale(0);
    transition: .3s ease;
}
.show-form {
    transform: scale(1);
}

.mentorship-form form {
    background-color: white;
    width: min(45%, 1200px);
    color: black;
    padding: 20px;
    border-radius: 10px;
}

.mentorship-form .input {
    position: relative;
}

.mentorship-form input,
.mentorship-form select {
    width: 100%;
    outline: 0;
    border: 2px solid black;
    font-size: 15px;
    color: black;
    border-radius: 7px;
}
.mentorship-form select {
    padding: 6px;
}


.mentorship-form button {
    width: 100%;
    padding: 10px 0;
    background: transparent;
    border: 2px solid black;
    font-weight: 800;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.mentorship-form button:hover {
    background-color: rgb(31, 31, 31);
}
.form-box {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.form-box div {
    flex: 1;
}

.form-box,
.form-content {
    margin-bottom: 15px;
}

.form-add,
.form-courses {
    display: none;
}
.show-form-add {
    display: block;
}
.show-courses {
    display: block;
}

@media (max-width: 1000px) {
    .mentorship-form form {
        width: 90%;
    }
}

@media(max-width: 922px){
    .wrapper{
        width: 90%;
    }
    .section1, .section3{
       flex-direction: column;
       gap: 70px;
    }
    .section1 .left-side,
.section3 .left-side{
       width: 90%;
}
    .section1 .right-side,
.section3 .right-side{
    width: 80%;
}
}
@media(max-width: 768px){

    .section1 .left-side,
    .section3 .left-side{
           width: 100%;
    }
        .section1 .right-side,
    .section3 .right-side{
        width: 100%;
    }
}