* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hero styling */
#hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #7b88a8;
    background-color: #f8faff;
}

#hero-section h2 {
    font-size: 64px;
    color: #2d3958;
}

@media (max-width:400px){
    #hero-section h2 {
        font-size: 32px;
    }
}

#headlines,
#latest-news {
    padding: 40px 3% 
}

#headlines img,
#latest-news img {
    border-radius: 20px;
    width: 100%;
    height: 400px;
    object-fit: contain;
}

#headlines p,
#latest-news p {
    color: #7b88a8;
    font-size: 18px;
}

#headlines h3 {
    color: rgb(45, 57, 88);
}

.feature-blog-content {
    font-size: 18px;
    margin: 0 0 10px 0;
    padding: 20px 10px;
}

.blog-type {
    font-size: 16px;
    margin: 0 0 10px 0;
}

.blog-heading {
    font-size: 30px;
}

#top-news img {
    height: 200px;
}

#top-news h3 {
    font-size: 20px;
}

.top-news-card {
    margin: 0 0 30px 0;
}

#latest-news h2 {
    font-size: 40px;
    margin: 10px 0 24px;
}

#latest-news img {
    width: 100%;
    height: 300px;
}

#latest-news h3 {
    font-size: 20px;
    margin: 0 0 10px;
}


/* Consulation call section styling */
.call-h2 {
    margin-top: 10px;
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 1.15;
    font-weight: 500;
    letter-spacing: -0.03em;
  }
  
.consultation-call {
    position: relative;
    padding: 40px 3%;
    color: #000;
}

.fixed-background {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    z-index: -1;
    height: 50%;
    /* background-color: #01050f!important; */
}

@media screen and (max-width: 991px){
#consultation-call .container {
    padding-top: 20px;
}
}

.cta-banner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 280px;
    padding: 60px 70px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 24px;
    background-color: #eef3f7;
    background-position: 50% 50%;
    background-size: cover;
}

@media screen and (max-width: 479px){
.cta-banner {
    padding-right: 26px;
    padding-left: 26px;
}
}

@media screen and (max-width: 767px){
.cta-banner {
    padding-right: 40px;
    padding-left: 40px;
}
}

.cta-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 991px){
.cta-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
}

.cta-h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #1649c9;
    font-size: 40px;
    line-height: 1.1;
}

@media screen and (max-width: 479px){
.cta-h2 {
    font-size: 38px;
}
}

.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #2980cb;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}

.button-start {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 60px;
    padding-right: 40px;
    padding-left: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #0f49eb;
    -webkit-transition: box-shadow 300ms ease;
    transition: box-shadow 300ms ease;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

@media screen and (max-width: 479px){
.button-start {
    margin-bottom: 20px;
}
}

.cta-button-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 991px){
.cta-button-wrap {
    width: 100%;
    margin-top: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
}

.text-span {
    color: #33aed6;
}