@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}

img, svg, video {
    display: block;
}

:root {
    --partnersText: 18px;
    --margin: 20px;
    --purple: rgb(106,53,255);
}

.partners-hero {
    position: relative;
    height: 100vh;
}

.partners-hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.partners-hero-content *:not(:last-child){
    margin-bottom: var(--margin);
}

.partners-title {
    color: rgb(45,57,88);
    font-size: 60px;
}

.partners-hero-content p {
    font-size: var(--partnersText);
    font-weight: 500;
    color: rgb(105, 105, 105);
    line-height: 1.6;
}

.get-started a {
    font-size: 25px;
    color: var(--purple);
    font-weight: 600;
}

.get-started i {
    font-size: 20px;
    transition: .3s ease;
}

.get-started:hover a span i {
    transform: translateX(5px);
}

.partners {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: min(85%, 1600px);
    margin-inline: auto;
    padding-bottom: 100px;
}

.partner-div {
    display: grid;
    place-items: center;
    border-radius: 30px;
    padding-block: 20px;
    transition: .3s ease;
}
.partner-div:hover {
    box-shadow: 0px 0px 30px -10px rgba(189, 179, 179, 0.486);
}
.partner-div img {
    width: clamp(150px, 10vw, 300px);
}

.sub-footer {
    background-color: rgb(24,33,53);
}

.consultation {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0.253)), url(/Girls-In-Tech/images/phony\ image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 90%;
    margin-inline: auto;
    padding: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.consultation::before {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(160, 151, 25, 0.726), rgb(24, 33, 53));
    width: 30px;
}
.consultation::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(24, 33, 53, 0.986), rgba(73, 151, 161, 0.863));
    width: 30px;
}

.consultation-text {
    color: white;    
}
.consultation-text p {
    font-size: 35px;
    font-weight: 500;
}

.consultation-btn a button {
    background-color: rgb(106,53,255);
    border: none;
    outline: none;
    padding: 20px 30px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
}
.consultation-btn button:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.418);
}

@media (max-width: 1200px) {
    .consultation {
        flex-direction: column;
        gap: 20px;
    }
    .consultation-text {
        text-align: center;
    }
    .consultation-text p:not(:last-child) {
        margin-bottom: 10px;
    }
}

@media (max-width: 950px) and (min-width: 750px) {
    .partners {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 749px) {
    .partners {
        grid-template-columns: 1fr;
        width: 85%;
    }
    .consultation {
        width: 100%;
        padding: 70px;
    }
    .consultation::after,
    .consultation::before {
        display: none;
    }
    .sub-footer {
        background: none;
    }
    .consultation-text p {
        font-size: 25px;
        font-weight: 600;
    }
    .consultation-btn button {
        padding: 20px;
    }

    .partners-hero {
        position: relative;
        height: 100vh;
    }
    
    .partners-hero-content {
        position: static;
        transform: none;
        width: 90%;
        margin-inline: auto;
    }
    .partners-title {
        color: rgb(45,57,88);
        font-size: 30px;
    }
    .partners-hero-content p {
        --partnersText: 16px
        font-weight: 500;
        color: rgb(105, 105, 105);
        line-height: 1.6;
    }
    
    .get-started a {
        font-size: 25px;
        color: var(--purple);
        font-weight: 600;
    }
    
    .get-started i {
        font-size: 20px;
        transition: .3s ease;
    }
    
    .get-started:hover a span i {
        transform: translateX(5px);
    }
}