.sponsorship-main{
    background-color: #f8faff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -40;
}
.sponsor-form{
    align-self: center;
}
@media(min-width: 768px){
    .sponsor-form{
        width: 60%;
        }
}